.nav-link {
  color: rgb(254,207,63) !important;
  margin-left: 25px;
  font-size: 16px;
}

.navbar-brand{
  color: rgb(254,207,63) !important;
}

.carousel {
  height: 500px;
  width: 100%;
  overflow:hidden;
}

.caroimg{
  margin: auto auto;
  height: 500px;
}

.services{
  background-color: rgb(33,33,33);
  height: 204px;
  text-align: center;
}

.servicestext{
  color: rgb(254,207,63) 
}

.companyname{
  color: rgb(254,207,63);
  font-size: 22px;
}

.whatwedo{
  color: white;
  font-size: 14px;
}

.pserv{
  margin-bottom: 6px;
}

body{
  overflow: hidden;
}

.contentholder{
  height: 100vh;
  background-color: rgb(33,33,33);
}

