.nav-link {
  color: rgb(254,207,63) !important;
  margin-left: 25px;
  font-size: 16px;
}

.navbar-brand{
  color: rgb(254,207,63) !important;
}

.carousel {
  height: 500px;
  width: 100%;
  overflow:hidden;
}

.caroimg{
  margin: auto auto;
  height: 500px;
}

.services{
  background-color: rgb(33,33,33);
  height: 204px;
  text-align: center;
}

.servicestext{
  color: rgb(254,207,63) 
}

.companyname{
  color: rgb(254,207,63);
  font-size: 22px;
  margin-top: 5px;
}

.whatwedo{
  color: white;
  font-size: 14px;
}

.pserv{
  margin-bottom: 6px;
}

/* body{
  overflow: hidden;
} */

.contentholder{
  height: 100vh;
  background-color: rgb(33,33,33);
}

.maincontent{
  height: 100vh;
  width: 100vw;
  background-color: rgb(33,33,33);
}

#page-header {
  height: 200px;
  background: url('./assets/drivewayentryway/PHOTO-2020-04-17-18-58-32\ \(7\).jpg');
  background-position: 0 -220px;
  background-attachment: fixed;
  color: #fff;
  border-bottom: 1px #eee solid;
  padding-top: 50px;
  background-repeat: no-repeat;
  background-size: cover;
}

.about-img{
  width: 450px;
  margin-left: 100px;
  margin-top: 10px;
}

.headtertext{
  color: white;
  font-size: 40px;
  margin-top: -20px;
}

.headtertext1{
  font-size: 35px;
  color: rgb(254,207,63);
  font-weight: bold;
  font-style: italic;
  text-decoration: underline;
}

.greettxt{
  color: #eee;
}

.aboutus{
  color: rgb(254,207,63);
}

.portcontent{
  margin: auto;
  background-color: rgb(33, 33, 33);
}

.container.gallery-container {
  background-color: rgb(33, 33, 33);
  color: #35373a;
  min-height: 100vh;
  border-radius: 2px;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.06);
}

.gallery-container p.page-description {
  text-align: center;
  max-width: 800px;
  margin: 25px auto;
  color: #888;
  font-size: 18px;
}

.tz-gallery {
  padding: 60px;
}

.tz-gallery .lightbox img {
  width: 100%;
  margin-bottom: 30px;
  transition: 0.2s ease-in-out;
  box-shadow: 0 2px 3px rgba(0,0,0,0.2);
}


.tz-gallery .lightbox img:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 15px rgba(0,0,0,0.3);
}

.tz-gallery img {
  border-radius: 4px;
}

.baguetteBox-button {
  background-color: transparent !important;
}


@media(max-width: 768px) {
  body {
      padding: 0;
  }

  .container.gallery-container {
      border-radius: 0;
  }
}

.portimg{
  width: 150px;
  height: 250px;
  margin-top: 10px;
}

.ourwork{
  padding-top: 60px;
  margin-bottom: -20px;
  margin-top: -10px;
  font-size: 20px;
  color: rgb(254,207,63);
  font-weight: bold;
}

/*contact page */
.contactholder{
  background-color: rgb(33, 33, 33);
  margin: auto;
  min-width: 100vw;
  min-height: 100vh;
  
}

.card-img{
  min-height: 405px;
}

.card{
  margin: auto;
  top: 100px;
}

.contactus{
  text-decoration: underline;
  color: rgb(33, 33, 33);
}

.whatwelove{
  font-size: 16px;
  color: rgb(33, 33, 33);
}

.titletext{
  margin-top: 50px;
}

